<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to T2 Lifestyle Checker
      </h1>
      <h2 class="subtitle">
        This app will help you understand your lifestyle choices and provide information <br />
        to improve your quality of life based on your current habits.
      </h2>
      <h2 class="subtitle">We need to identify you as an NHS patient to proceed.</h2>
      <%= link_to 'Continue', new_patient_path, class: 'button is-primary is-large' %>
    </div>
  </div>
</section>
