<% if flash.any? %>
  <div class="section has-text-centered">
    <div class="container is-max-tablet">
      <%= tag.div(flash[:alert], class: "notification is-warning") if flash[:alert] %>
      <%= tag.div(flash[:notice], class: "notification is-primary") if flash[:notice] %>
    </div>
  </div>
<% end %>